Repository GeoMarek/EcologyGame, changes with the labels that .github/labeler.yml gives for each.
All labels: backend, frontend, docs, document, workflow

.github/labeler.yml:

backend:
- source/backend/*
- source/backend/**/*

frontend: 
- source/frontend/*
- source/frontend/**/*

docs:
- docs/documents/*
- docs/documents/**/*
- README.md

document:
- docs/project/*
- docs/project/**/*

workflow:
- .github/*
- .github/**/*

Fix path to root file
  .github/workflows/build_latex.yml
Labels: workflow

Changes
  docs/.gitignore
Labels: none

poprawiono strone Profile
  source/frontend/src/components/Navbar.js
  source/frontend/src/containers/Profile.js
  source/frontend/src/reducers/profile.js
Labels: frontend

Add import sorting and black
  source/backend/autoformat.py
Labels: backend

Python autoformat
  source/backend/accounts/apps.py
  source/backend/accounts/migrations/0001_initial.py
  source/backend/accounts/migrations/0002_profile.py
  source/backend/accounts/migrations/0003_auto_20210910_1234.py
  source/backend/accounts/models.py
  source/backend/accounts/serializers.py
  source/backend/accounts/urls.py
  source/backend/accounts/views.py
  source/backend/courses/apps.py
  source/backend/courses/migrations/0001_initial.py
  source/backend/courses/migrations/0002_remove_course_users.py
  source/backend/courses/migrations/0003_course_users.py
  source/backend/courses/migrations/0004_alter_course_users.py
  source/backend/courses/models.py
  source/backend/courses/serializers.py
  source/backend/courses/urls.py
  source/backend/courses/views.py
  source/backend/ecosite/asgi.py
  source/backend/ecosite/settings.py
  source/backend/ecosite/urls.py
  source/backend/ecosite/wsgi.py
  source/backend/manage.py
  source/backend/requirements.txt
Labels: backend

Update requirements.txt
  source/backend/requirements.txt
Labels: backend

Update README.md
  README.md
Labels: docs

fix js packages
  source/autoformat.py
  source/backend/autoformat.py
  source/frontend/.eslintrc.json
  source/frontend/package-lock.json
  source/frontend/package.json
Labels: backend, frontend

Revert "fix js packages"
  source/autoformat.py
  source/backend/autoformat.py
  source/frontend/.eslintrc.json
  source/frontend/package-lock.json
  source/frontend/package.json
Labels: backend, frontend

Javascript auto format
  README.md
  source/frontend/.prettierrc.yaml
Labels: frontend, docs
