Repository GeoMarek/EcologyGame, pull requests merged in 2021-09, with the labels that each got.

#7 Fix in images directory
  docs/project/chapters/chapter03_00_PrzegladPodobnychSystemow.tex
  docs/project/img/chapter3/habitica.png
  docs/project/img/chapter3/quizizz.png
  docs/project/img/chapter3/wordwall.png
  docs/project/img/example.jpeg
  docs/project/main_document.pdf
Labels: docs

#8 Wizja systemu
  docs/project/chapters/chapter03_00_PrzegladPodobnychSystemow.tex
  docs/project/chapters/chapter04_01_WizjaSystemu.tex
  docs/project/chapters/chapter04_02_DiagramPrzypadkowUzycia.tex
  docs/project/chapters/chapter04_02_WymaganiaWzgledemSystemu.tex
  docs/project/chapters/chapter04_03_DiagramKlas.tex
  docs/project/include/bibliografia.tex
  docs/project/main_document.pdf
  docs/project/main_document.tex
Labels: docs

#11 Document fixes
  docs/project/chapters/chapter02_00_OpisDziedzinyProblemowej.tex
  docs/project/chapters/chapter03_00_PrzegladPodobnychSystemow.tex
  docs/project/chapters/chapter04_01_WizjaSystemu.tex
  docs/project/include/bibliografia.tex
  docs/project/include/oznaczenia.tex
  docs/project/main.tex
  docs/project/main_document.pdf
Labels: docs

#13 Label and latex workflow improvement
  .github/labeler.yml
  .github/workflows/build_latex.yml
  .github/workflows/latex_release.yml
  .github/workflows/pr_labeler.yml
  .github/workflows/put_label.yml
Labels: workflow

#12 Fix w podobne systemy i ochrona srodowiska
  docs/.gitignore
  docs/project/chapters/chapter02_00_OpisDziedzinyProblemowej.tex
  docs/project/chapters/chapter03_00_PrzegladPodobnychSystemow.tex
  docs/project/chapters/chapter04_01_WizjaSystemu.tex
Labels: document

#14 poprawiono strone Profile
  source/frontend/src/components/Navbar.js
  source/frontend/src/containers/Profile.js
  source/frontend/src/reducers/profile.js
Labels: frontend
