Repository GeoMarek/EcologyGame, pull requests merged in 2021-11, with the labels that each got.

#42 Courses
  source/backend/autoformat.py
  source/backend/courses/migrations/0005_auto_20210927_2141.py
  source/backend/courses/models.py
  source/backend/courses/urls.py
  source/backend/courses/views.py
  source/frontend/src/App.js
  source/frontend/src/actions/course.js
  source/frontend/src/actions/types.js
  source/frontend/src/components/Courses/Course.css
  source/frontend/src/components/Courses/Course.js
  source/frontend/src/components/Courses/CourseSideBar.css
  source/frontend/src/components/Courses/CourseSideBar.js
  source/frontend/src/containers/Course.js
  source/frontend/src/containers/Courses.js
  source/frontend/src/containers/CreateCourse.js
  source/frontend/src/containers/Home.js
  source/frontend/src/reducers/course.js
Labels: frontend, backend

#44 [Docs] Poprawki po konsultacjach
  docs/notes/UseCaseDiagrams.zip
  docs/project/chapters/chapter01_00_WstepCelPracy.tex
  docs/project/chapters/chapter02_00_OpisDziedzinyProblemowej.tex
  docs/project/chapters/chapter03_00_PrzegladPodobnychSystemow.tex
  docs/project/chapters/chapter04_02_DiagramPrzypadkowUzycia.tex
  docs/project/chapters/chapter04_03_DiagramKlas.tex
  docs/project/chapters/chapter05_00_ProjektSystemu.tex
  docs/project/chapters/chapter05_01_ArchitekturaSystemu.tex
  docs/project/chapters/chapter05_04_LogikaBiznesowa.tex
  docs/project/chapters/chapter05_04_ProjektInterfejsuUzytkownika.tex
  docs/project/chapters/chapter05_05_WybraneZagadnieniaLogikiBiznesowej.tex
  docs/project/chapters/chapter06_00_StudiumPrzypadku.tex
  docs/project/chapters/chapter06_00_ZagadnieniaImplementacyjne.tex
  docs/project/chapters/chapter06_01_PrzykladowyPodrozdzial.tex
  docs/project/chapters/chapter06_01_WybraneRozwiazania.tex
  docs/project/chapters/chapter06_02_InstalacjaSystemu.tex
  docs/project/chapters/chapter07_00_Zakonczenie.tex
  docs/project/img/chapter4/admin_kurs.PNG
  docs/project/img/chapter4/class_diagram.PNG
  docs/project/img/chapter4/uczestnik.PNG
  docs/project/include/abstract.tex
  docs/project/include/streszczenie.tex
  docs/project/main.tex
Labels: docs

#48 Profile course quiz
  source/backend/courses/migrations/0008_auto_20211117_1631.py
  source/backend/courses/migrations/0009_auto_20211117_1633.py
  source/backend/courses/migrations/0010_alter_item_eq_type.py
  source/backend/courses/migrations/0011_answer_approach_question_quiz.py
  source/backend/courses/models.py
  source/backend/courses/serializers.py
  source/backend/courses/urls.py
  source/backend/courses/views.py
  source/frontend/src/App.js
  source/frontend/src/actions/character.js
  source/frontend/src/actions/course.js
  source/frontend/src/components/Courses/CourseSideBar.css
  source/frontend/src/components/Courses/CourseSideBar.js
  source/frontend/src/components/Navbar/AdminNavbar.js
  source/frontend/src/components/Navbar/Navbar.css
  source/frontend/src/components/Navbar/Navbar.js
  source/frontend/src/containers/Character.js
  source/frontend/src/containers/Course.js
  source/frontend/src/containers/CourseAdmin.js
  source/frontend/src/containers/CourseAdmin/Ranking.js
  source/frontend/src/containers/Courses.js
  source/frontend/src/containers/CreateCourse.js
  source/frontend/src/containers/Profile.js
  source/frontend/src/reducers/character.js
Labels: frontend, backend

#51 [Feature] Szybsze odpalanie środowiska
  README.md
  autostart.bat
Labels: docs

#50 [Front Fix] Kolejne poprawki frontend
  README.md
  code_format_check.bat
  code_format_fix.bat
  run_application.bat
  source/frontend/src/App.css
  source/frontend/src/actions/character.js
  source/frontend/src/components/Character/Character.css
  source/frontend/src/components/Character/CharacterAttribute.js
  source/frontend/src/components/Character/CharacterImage.js
  source/frontend/src/components/Character/CharacterInfo.js
  source/frontend/src/components/Character/CharacterProgressBar.js
  source/frontend/src/components/Common/CommonButton.js
  source/frontend/src/components/Common/CommonLink.js
  source/frontend/src/components/Common/common.css
  source/frontend/src/components/Courses/Course.css
  source/frontend/src/components/Courses/Course.js
  source/frontend/src/components/Courses/CourseLink.js
  source/frontend/src/components/Courses/CreateCourseHint.js
  source/frontend/src/components/Navbar/AdminNavbar.js
  source/frontend/src/components/Navbar/NavbarLink.js
  source/frontend/src/components/OptionalLinks/OptionalHomeLink.js
  source/frontend/src/components/OptionalLinks/OptionalLink.css
  source/frontend/src/components/OptionalLinks/OptionalLoginLinks.js
  source/frontend/src/components/OptionalLinks/OptionalRegisterLinks.js
  source/frontend/src/components/Profile/Profile.css
  source/frontend/src/components/Profile/ProfileInfo.js
  source/frontend/src/components/SideBar/AdminSideBar.js
  source/frontend/src/components/SideBar/SideBar.css
  source/frontend/src/components/SideBar/SideBarLink.js
  source/frontend/src/components/SideBar/StudentSideBar.js
  source/frontend/src/containers/Character.js
  source/frontend/src/containers/Course.js
  source/frontend/src/containers/CourseAdmin.js
  source/frontend/src/containers/Courses.js
  source/frontend/src/containers/CreateCourse.js
  source/frontend/src/containers/Home.js
  source/frontend/src/containers/Login.js
  source/frontend/src/containers/Profile.js
  source/frontend/src/containers/ResetPassword.js
  source/frontend/src/containers/ResetPasswordConfirm.js
  source/frontend/src/containers/Signup.js
  source/frontend/src/containers/styles/Home.css
  source/frontend/src/images/alive_avatar.PNG
  source/frontend/src/images/dead_avatar.PNG
  source/frontend/src/reducers/character.js
Labels: docs, frontend

#52 [Frontend] Szablony stron na sidebar
  source/frontend/README.md
  source/frontend/src/App.css
  source/frontend/src/App.js
  source/frontend/src/components/Character/Character.css
  source/frontend/src/components/Character/CharacterPresent.js
  source/frontend/src/components/Character/CharacterProgressBar.js
  source/frontend/src/components/Shop/Item.js
  source/frontend/src/components/Shop/Shop.css
  source/frontend/src/components/SideBar/AdminSideBar.js
  source/frontend/src/components/SideBar/SideBar.css
  source/frontend/src/components/SideBar/StudentSideBar.js
  source/frontend/src/components/Task/QuestionItem.js
  source/frontend/src/components/Task/RadioTaskType.js
  source/frontend/src/components/Task/Task.css
  source/frontend/src/containers/AddTask/ClosedQuestion.js
  source/frontend/src/containers/AddTask/GroupQuiz.js
  source/frontend/src/containers/AddTask/HabitQuestion.js
  source/frontend/src/containers/AddTask/OpenQuestion.js
  source/frontend/src/containers/Course.js
  source/frontend/src/containers/CourseAdmin/CourseAddTask.js
  source/frontend/src/containers/CourseAdmin/CourseAdminShop.js
  source/frontend/src/containers/CourseAdmin/CourseStats.js
  source/frontend/src/containers/CourseAdmin/CourseTaskList.js
  source/frontend/src/containers/CourseStudent/Character.js
  source/frontend/src/containers/CourseStudent/CourseHabits.js
  source/frontend/src/containers/CourseStudent/CourseMonsters.js
  source/frontend/src/containers/CourseStudent/CourseShop.js
  source/frontend/src/containers/CreateCourse.js
Labels: frontend

#53 Admin shop
  source/frontend/public/ItemIcons/iron_armor.png
  source/frontend/public/ItemIcons/iron_sword.png
  source/frontend/public/favicon.ico
  source/frontend/public/logo192.png
  source/frontend/public/logo512.png
  source/frontend/public/robots.txt
  source/frontend/src/App.css
  source/frontend/src/components/Shop/Item.js
  source/frontend/src/components/Shop/ItemIcon.js
  source/frontend/src/components/Shop/Shop.css
  source/frontend/src/containers/CourseAdmin/CourseAdminShop.js
Labels: frontend

#54 Front ranking
  source/backend/courses/models.py
  source/backend/courses/urls.py
  source/backend/courses/views.py
  source/frontend/src/App.css
  source/frontend/src/components/Ranking/UserRanking.js
  source/frontend/src/components/Ranking/UserRankingItem.js
  source/frontend/src/components/Shop/ItemIcon.js
  source/frontend/src/containers/AddTask/ClosedQuestion.js
  source/frontend/src/containers/CourseAdmin/CourseStats.js
Labels: frontend, backend

#55 Fix css styles
  source/frontend/public/index.html
  source/frontend/public/manifest.json
  source/frontend/src/App.css
  source/frontend/src/components/Character/CharacterAttribute.js
  source/frontend/src/components/Character/CharacterImage.js
  source/frontend/src/components/Character/CharacterInfo.js
  source/frontend/src/components/Character/CharacterPresent.js
  source/frontend/src/components/Character/CharacterProgressBar.js
  source/frontend/src/components/Common/CommonButton.js
  source/frontend/src/components/Common/CommonLink.js
  source/frontend/src/components/Common/common.css
  source/frontend/src/components/Courses/Course.js
  source/frontend/src/components/Courses/CourseLink.js
  source/frontend/src/components/Courses/CreateCourseHint.js
  source/frontend/src/components/Navbar/AdminNavbar.js
  source/frontend/src/components/Navbar/Navbar.js
  source/frontend/src/components/Profile/ProfileInfo.js
  source/frontend/src/components/SideBar/AdminSideBar.js
  source/frontend/src/components/SideBar/StudentSideBar.js
  source/frontend/src/components/Task/QuestionItem.js
  source/frontend/src/components/Task/RadioTaskType.js
  source/frontend/src/styles/Character.css
  source/frontend/src/styles/Course.css
  source/frontend/src/styles/Navbar.css
  source/frontend/src/styles/Profile.css
  source/frontend/src/styles/SideBar.css
  source/frontend/src/styles/Task.css
Labels: frontend

#56 Dodanie ikon i poprawa usuwania kursu
  source/frontend/public/HeroIcons/dead_hero.png
  source/frontend/public/HeroIcons/high_level.webp
  source/frontend/public/HeroIcons/low_level.webp
  source/frontend/public/HeroIcons/medium_level.webp
  source/frontend/public/HeroIcons/ultra_level.webp
  source/frontend/public/ItemIcons/_manifest.json
  source/frontend/public/ItemIcons/_reading.py
  source/frontend/public/ItemIcons/diamond_armor.png
  source/frontend/public/ItemIcons/diamond_sword.png
  source/frontend/public/ItemIcons/gold_armor.png
  source/frontend/public/ItemIcons/gold_sword.png
  source/frontend/public/ItemIcons/wood_armor.png
  source/frontend/public/ItemIcons/wood_sword.png
  source/frontend/src/App.css
  source/frontend/src/App.js
  source/frontend/src/components/Character/CharacterImage.js
  source/frontend/src/components/Character/CharacterPresent.js
  source/frontend/src/components/Navbar/AdminNavbar.js
  source/frontend/src/components/Ranking/UserRanking.js
  source/frontend/src/components/Ranking/UserRankingItem.js
  source/frontend/src/components/SideBar/AdminSideBar.js
  source/frontend/src/components/SideBar/StudentSideBar.js
  source/frontend/src/containers/Course.js
  source/frontend/src/containers/CourseAdmin.js
  source/frontend/src/containers/CourseAdmin/CourseAdminShop.js
  source/frontend/src/containers/CourseAdmin/Ranking.js
  source/frontend/src/containers/CreateCourse.js
  source/frontend/src/images/alive_avatar.PNG
  source/frontend/src/images/dead_avatar.PNG
  source/frontend/src/styles/background.jpg
Labels: frontend

#60 [Front] Pofixowane małe błędy
  source/frontend/src/App.css
  source/frontend/src/components/Courses/Course.js
  source/frontend/src/components/Courses/CreateCourseHint.js
  source/frontend/src/containers/CourseAdmin/CourseStats.js
  source/frontend/src/containers/Courses.js
  source/frontend/src/containers/CreateCourse.js
  source/frontend/src/containers/Login.js
Labels: frontend

#61 Strona z listą nawyków
  source/frontend/src/App.css
  source/frontend/src/components/Task/HabitList.js
  source/frontend/src/components/Task/HabitListItem.js
  source/frontend/src/containers/CourseStudent/CourseHabits.js
  source/frontend/src/containers/CourseStudent/CourseMonsters.js
  source/frontend/src/containers/Courses.js
  source/frontend/src/containers/Login.js
Labels: frontend

#62 Add monster list on student page
  source/frontend/public/MonsterIcons/monster_1.png
  source/frontend/public/MonsterIcons/monster_2.png
  source/frontend/public/MonsterIcons/monster_3.png
  source/frontend/public/MonsterIcons/monster_4.png
  source/frontend/public/MonsterIcons/monster_boss.png
  source/frontend/src/App.css
  source/frontend/src/components/Task/HabitListItem.js
  source/frontend/src/components/Task/MonsterList.js
  source/frontend/src/components/Task/MonsterListItem.js
  source/frontend/src/containers/CourseStudent/CourseHabits.js
  source/frontend/src/containers/CourseStudent/CourseMonsters.js
  source/frontend/src/containers/CourseStudent/CourseShop.js
  source/frontend/src/styles/SideBar.css
  source/frontend/src/styles/Task.css
Labels: frontend
