Repository GeoMarek/EcologyGame, pull requests merged in 2021-12, with the labels that each got.

#64 Everything
  source/backend/courses/models.py
  source/backend/courses/views.py
  source/frontend/public/ItemIcons/wooden_armor.png
  source/frontend/public/ItemIcons/wooden_sword.png
  source/frontend/src/components/Footer/Footer.js
  source/frontend/src/components/Shop/Item.js
  source/frontend/src/components/SideBar/SideBarLink.js
  source/frontend/src/components/Task/QuestionItem.js
  source/frontend/src/containers/AddTask/HabitQuestion.js
  source/frontend/src/containers/AddTask/OpenQuestion.js
  source/frontend/src/containers/CourseAdmin/CourseAdminShop.js
  source/frontend/src/containers/CourseAdmin/CourseTaskList.js
  source/frontend/src/containers/Login.js
  source/frontend/src/hocs/Layout.js
Labels: frontend, backend

#63 add hero equipment
  source/backend/courses/migrations/0015_alter_quiz_quiz_type.py
  source/frontend/public/ItemIcons/_reading.py
  source/frontend/src/App.css
  source/frontend/src/components/Character/CharacterAttribute.js
  source/frontend/src/components/Character/CharacterEquipment.js
  source/frontend/src/components/Character/CharacterInfo.js
  source/frontend/src/components/Character/CharacterPresent.js
  source/frontend/src/components/Footer/Footer.js
  source/frontend/src/components/Shop/StudentShopItem.js
  source/frontend/src/components/Shop/StudentShopList.js
  source/frontend/src/components/SideBar/StudentSideBar.js
  source/frontend/src/components/Task/HabitList.js
  source/frontend/src/containers/CourseStudent/Character.js
  source/frontend/src/containers/CourseStudent/CourseHabits.js
  source/frontend/src/containers/CourseStudent/CourseMonsters.js
  source/frontend/src/containers/CourseStudent/CourseShop.js
  source/frontend/src/containers/Login.js
  source/frontend/src/styles/Character.css
  source/frontend/src/styles/SideBar.css
Labels: frontend, backend

#65 Fix admin shop
  source/frontend/src/components/Footer/Footer.js
  source/frontend/src/components/Shop/AdminShopItem.js
  source/frontend/src/components/Shop/AdminShopList.js
  source/frontend/src/containers/CourseAdmin/CourseAdminShop.js
  source/frontend/src/containers/Login.js
Labels: frontend

#68 Student inner pages
  source/backend/courses/urls.py
  source/backend/courses/views.py
  source/frontend/src/App.js
  source/frontend/src/actions/quiz.js
  source/frontend/src/actions/types.js
  source/frontend/src/components/Task/MonsterList.js
  source/frontend/src/components/Task/MonsterListItem.js
  source/frontend/src/containers/AddTask/ClosedQuestion.js
  source/frontend/src/containers/AddTask/GroupQuiz.js
  source/frontend/src/containers/AddTask/HabitQuestion.js
  source/frontend/src/containers/AddTask/OpenQuestion.js
  source/frontend/src/containers/CourseStudent/CourseMonsters.js
  source/frontend/src/containers/Login.js
  source/frontend/src/containers/MonsterPage.js
  source/frontend/src/reducers/index.js
  source/frontend/src/reducers/quiz.js
Labels: frontend, backend

#69 Rozwiazywanie zadań testowych
  source/frontend/src/App.js
  source/frontend/src/components/Answer/TestAnswerForm.js
  source/frontend/src/containers/MonsterPage.js
  source/frontend/src/containers/MonsterPageForm.js
Labels: frontend

#70 Rozwiązywanie zadania otwartego
  source/frontend/src/actions/character.js
  source/frontend/src/components/Answer/OpenAnswerForm.js
  source/frontend/src/components/Answer/TestAnswerForm.js
  source/frontend/src/components/Task/MonsterListItem.js
  source/frontend/src/containers/CourseStudent/Character.js
  source/frontend/src/containers/CourseStudent/CourseMonsters.js
  source/frontend/src/containers/MonsterPageForm.js
Labels: frontend

#71 walka z ekwipunkiem
  source/frontend/src/components/Answer/TestAnswerForm.js
  source/frontend/src/components/Character/ArmorWeapon.js
  source/frontend/src/components/Character/ChangeEquipment.js
  source/frontend/src/components/Character/CharacterEquipment.js
  source/frontend/src/components/Character/CharacterPresent.js
  source/frontend/src/components/Character/EquipmentItem.js
  source/frontend/src/components/Character/EquipmentList.js
  source/frontend/src/components/Ranking/UserRanking.js
  source/frontend/src/components/Task/MonsterListItem.js
  source/frontend/src/containers/CourseAdmin/CourseTaskList.js
  source/frontend/src/containers/CourseStudent/Character.js
Labels: frontend

#72 Redirect fix
  source/frontend/src/components/Answer/TestAnswerForm.js
  source/frontend/src/containers/AddTask/ClosedQuestion.js
  source/frontend/src/containers/AddTask/HabitQuestion.js
  source/frontend/src/containers/AddTask/OpenQuestion.js
  source/frontend/src/containers/CourseAdmin/CourseAdminShop.js
  source/frontend/src/containers/CourseAdmin/CourseTaskList.js
Labels: frontend

#74 Poprawki w spisie treści
  docs/.gitignore
  docs/project/chapters/chapter01_00_WstepCelPracy.tex
  docs/project/chapters/chapter02_00_OpisDziedzinyProblemowej.tex
  docs/project/chapters/chapter03_00_PrzegladPodobnychSystemow.tex
  docs/project/chapters/chapter04_00_Analiza.tex
  docs/project/chapters/chapter05_01_WybraneRozwiazania.tex
  docs/project/chapters/chapter05_02_ArchitekturaSystemu.tex
  docs/project/chapters/chapter05_03_ProjektBazyDanych.tex
  docs/project/chapters/chapter05_04_ProjektInterfejsuUzytkownika.tex
  docs/project/chapters/chapter05_05_WybraneZagadnieniaLogikiBiznesowej.tex
  docs/project/chapters/chapter06_00_StudiumPrzypadku.tex
  docs/project/chapters/chapter07_00_Zakonczenie.tex
Labels: docs

#75 Poprawki dokument
  README.md
  docs/notes/UseCaseDiagrams.zip
  docs/project/chapters/chapter04_02_DiagramPrzypadkowUzycia.tex
  docs/project/chapters/chapter04_03_DiagramKlas.tex
  docs/project/img/chapter4/admin_aktywnosc.PNG
  docs/project/img/chapter4/admin_kurs.PNG
  docs/project/img/chapter4/class_diagram.PNG
  docs/project/img/chapter4/uczestnik.PNG
  docs/project/img/chapter4/zarzadzanie_kurs.PNG
Labels: docs

#76 Add pages to check open questions
  source/frontend/src/App.css
  source/frontend/src/App.js
  source/frontend/src/components/Answer/TaskAnswerItem.js
  source/frontend/src/components/Answer/TaskAnswerList.js
  source/frontend/src/components/Answer/TestAnswerForm.js
  source/frontend/src/containers/AddTask/GroupQuiz.js
  source/frontend/src/containers/CheckAnswer.js
  source/frontend/src/containers/Login.js
  source/frontend/src/containers/MonsterAdminPage.js
Labels: frontend

#77 Architektura systemu
  docs/project/chapters/chapter04_02_DiagramPrzypadkowUzycia.tex
  docs/project/chapters/chapter05_02_ArchitekturaSystemu.tex
  docs/project/img/chapter5/architektura_1.PNG
  docs/project/img/chapter5/architektura_2.PNG
Labels: docs

#78 obrazki do studium przypadku
  docs/project/img/chapter6/bohater_high.PNG
  docs/project/img/chapter6/bohater_low.PNG
  docs/project/img/chapter6/kurs_fabula.PNG
  docs/project/img/chapter6/kurs_nawyki.PNG
  docs/project/img/chapter6/kurs_zadania.PNG
  docs/project/img/chapter6/kurs_zamkniete.PNG
  docs/project/img/chapter6/sklep.PNG
  source/frontend/src/components/Character/CharacterPresent.js
Labels: docs, frontend

#79 Studium przypadku
  docs/project/chapters/chapter01_00_WstepCelPracy.tex
  docs/project/chapters/chapter06_00_StudiumPrzypadku.tex
Labels: docs

#80 logika biznesowa
  docs/project/chapters/chapter05_05_WybraneZagadnieniaLogikiBiznesowej.tex
Labels: docs

#81 Front marek
  code_format_check.bat
  docs/project/chapters/chapter04_01_WizjaSystemu.tex
  docs/project/include/abstract.tex
  docs/project/include/streszczenie.tex
Labels: docs

#82 Rozdzialy 5.3 i 5.4
  docs/project/chapters/chapter05_03_ProjektBazyDanych.tex
  docs/project/chapters/chapter05_04_ProjektInterfejsuUzytkownika.tex
  docs/project/img/chapter5/admin_course.png
  docs/project/img/chapter5/courses.png
  docs/project/img/chapter5/erd_diagram.png
  docs/project/img/chapter5/home.png
  docs/project/img/chapter5/strona_domowa.png
  docs/project/img/chapter5/strona_kursu.png
  docs/project/img/chapter5/strona_listy_kursow.png
  docs/project/img/chapter5/user_course.png
Labels: docs

#83 referencja do bibliografii
  docs/project/chapters/chapter02_00_OpisDziedzinyProblemowej.tex
Labels: docs

#84 finish
  docs/project/chapters/chapter07_00_Zakonczenie.tex
Labels: docs

#85 zmiany streszczenia i podsumowania
  docs/project/chapters/chapter07_00_Zakonczenie.tex
  docs/project/include/streszczenie.tex
Labels: docs
